<div class="soul-container">

    <video  width="100%" height="100%" id="home-video" style="width: 100%;"  autoplay muted>
        <source src="./../../../../../assets/videos/soul.mp4" type="video/mp4">
    </video>
    <div class="soul-overlay">
        <div class="soul-container-img">
            <img src="./../../../../../assets/images/soul_cinema.png" class="mb-2" alt="">
        </div>
        <p id="soul-text" style="display: none;">
            Every wedding is unique and so are our films. For past 8 years <strong>frameUp</strong> has set new benchmarks of 
              storytelling within wedding realm and beyond. We are fortunate to have experienced so unique cultures and traditions across 25 countries and to document stories that continuously overwhelm us.
        </p>
    </div>
    <!-- <div class="sloped-line"></div> -->
</div>
