.header-wrraper{
    position: relative;
}


.header-wrraper nav{
    position: absolute;
    top:7px;
    width: 100%;
    padding: 0px
}
.web-navbar{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    width: 100%;

  
}

.web-nav a{
    color: white;
    
}
.web-navbar ul li a,button{
    color: white;
    padding: 10px;
    font-weight: normal;
    border-radius: 20px;
}
.web-navbar ul li a:hover{

    background-color: #ea1068;
}
.web-navbar ul {
    justify-content: space-evenly;
}
.web-navbar ul li{
 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    display: flex;
    letter-spacing: 0px;
    align-items: center;
    justify-self: center;
    line-height: 1.2;

}



.menu-item:active{
    border-bottom-color: rgb(37, 181, 184) !important;
}

// new code


.main-header-bg{
    width: 100vw;
    background-size: cover;
    margin-bottom: 50px;
    background-repeat: no-repeat;
}
.logo img{
    width: 200px;

}
.social-media-handel{
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
}
.social-media-handel svg{
    width: 25px;
    cursor: pointer;    
}
#twitter:hover  path{
    fill: white;
}
#facebook:hover  path{
    fill: white;
}
#instagram:hover path
{
    fill: white;

}

.web-btn{
    border: none;
    border-radius: 20px;
    font-size: 12px;
    padding: 10px;
    background-color: #ea1068;

}
.web-btn:hover{
    background-color: #d85590;

}
.nav-wrapper{
    display: flex;
    gap: 80px;
}
.textColor{
    text-decoration: none;
}


// For Mobile responsive

@media  screen and (max-width: 566.98px) {
    .nav-container{
        justify-content: flex-end;
        padding: 10px;

    }
    .web-navbar .logo {
        // display: none;
        display: flex;
        justify-content: center;

    }
    .web-navbar .logo img{
        width: 130px;
    }
    .web-navbar{
        display: block;
    }

  
    .web-nav{
        display: block;
        // background: #ffbfec;
    }
    .social-media-handel{
        justify-content: center;
    }
    .main-header-bg video{
        // position: fixed;
        // top: 0;
        // left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .nav-container{
        justify-content: flex-end;
        padding: 10px;

    }
    .web-navbar .logo {
        // display: none;
        display: flex;
        justify-content: center;

    }
    .web-navbar .logo img{
        width: 130px;
    }
    .web-navbar{
        display: block;
    }

  
    .web-nav{
        display: block;
        // background: #ffbfec;
    }
    .social-media-handel{
        justify-content: center;
    }
    .main-header-bg video{
        // position: fixed;
        // top: 0;
        // left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

}
@media (min-width: 768px) and (max-width: 991.98px) { 
    .nav-container{
        justify-content: flex-end;
        padding: 10px;

    }
    .web-navbar .logo {
        // display: none;
        display: flex;
        justify-content: center;

    }
    .web-navbar .logo img{
        width: 130px;
    }
    .web-navbar{
        display: block;
    }

  
    .web-nav{
        display: block;
        // background: #ffbfec;
    }
    .social-media-handel{
        justify-content: center;
    }
    .main-header-bg video{
        // position: fixed;
        // top: 0;
        // left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

}
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .main-header-bg video{
        // position: fixed;
        // top: 0;
        // left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

}
@media (min-width: 1200px) and (max-width: 1399.98px) { 

}
@media (min-width: 1399.98px) { 

}