.header-wrraper{
    position: absolute;
    z-index: 99;
    width: 100vw;
}


.header-wrraper .web-nav{
    // position: absolute;
    // top:7px;
    width: 100%;
    // padding: 0px
}
.web-nav{
    position: absolute;
}
.web-nav
 a{
    color: black;
    
}
.web-navbar ul li a,button{
    color: black;
    padding: 10px;
    font-weight: normal;
    border-radius: 20px;
}
.web-navbar ul li a:hover{

    background-color: #ea1068;
}
.web-navbar ul {
    justify-content: flex-end;
}
.web-navbar ul li{
 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    display: flex;  
    letter-spacing: 0px;
    color: black;
    align-items: center;
    justify-self: center;
    line-height: 1.2;

}



.menu-item:active{
    border-bottom-color: rgb(37, 181, 184) !important;
}

// new code


.logo{
    align-items: center;
    display: flex;
    justify-content: center;
    a{
        margin-top: 40px;
    }
}
.logo img{
    width: 200px;
    filter: grayscale(100%) brightness(0%);

}
.social-media-handel{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.social-media-handel svg{
    width: 25px;
    cursor: pointer;    
}
#twitter:hover  path{
    fill: white;
}
#facebook:hover  path{
    fill: white;
}
#instagram:hover path
{
    fill: white;

}

.web-btn{
    border: none;
    border-radius: 20px;
    font-size: 12px;
    padding: 10px;
    background-color: #ea1068;

}
.web-btn:hover{
    background-color: #d85590;

}
.nav-wrapper{
    display: flex;
    gap: 80px;
}
.textColor{
    text-decoration: none;
}
.header-strip{
    position: absolute;
    top:0;
    width: 100vw;
    z-index: 99;
    background-color: transparent;

    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 35px;
        margin: 0px;
        padding: 10px 0px;
        // background-color: var(--light-pink);
        z-index: 99999;
        li{
            cursor: pointer;
            // color: #fff;
            color: black;
            list-style: none;

            &:hover{
                cursor: pointer;
                color: var(--web-primary-color);
            }
        }
    }
}
.web-navbar{
    display: grid;
    width: 100%;
    grid-template-columns:3fr 1fr;    
}

// For Mobile responsive

@media  screen and (max-width: 566.98px) {
    .nav-container{
        justify-content: flex-end;
        padding: 10px;
        // height: 100vh;
        // background: #fff;
        // opacity: .7;

    }
    .logo{
        display: none;
    }
    nav .show{
        // height: 100vh;
        background-color: #fff;
    }
    .web-navbar .logo {
        // display: none;
        display: flex;
        justify-content: center;

    }
    .web-navbar .logo img{
        width: 130px;
    }
    .web-navbar{
        display: block;
    }

  
    .web-nav{
        display: block;
        // background: #ffbfec;
    }
    .social-media-handel{
        justify-content: center;
    }
    .main-header-bg video{
        // position: fixed;
        // top: 0;
        // left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .nav-container{
        justify-content: flex-end;
        padding: 10px;

    }
    .logo{
        display: none;
    }
    .web-navbar .logo {
        // display: none;
        display: flex;
        justify-content: center;

    }
    .web-navbar .logo img{
        width: 130px;
    }
    .web-navbar{
        display: block;
    }

  
    .web-nav{
        display: block;
        // background: #ffbfec;
    }
    .social-media-handel{
        justify-content: center;
    }
    .main-header-bg video{
        // position: fixed;
        // top: 0;
        // left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

}
@media (min-width: 768px) and (max-width: 991.98px) { 
    .nav-container{
        justify-content: flex-end;
        padding: 10px;

    }
    .web-navbar .logo {
        // display: none;
        display: flex;
        justify-content: center;

    }
    .web-navbar .logo img{
        width: 130px;
    }
    .web-navbar{
        display: block;
    }

  
    .web-nav{
        display: block;
        // background: #ffbfec;
    }
    .social-media-handel{
        justify-content: center;
    }
    .main-header-bg video{
        // position: fixed;
        // top: 0;
        // left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

}
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .main-header-bg video{
        // position: fixed;
        // top: 0;
        // left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

}
@media (min-width: 1200px) and (max-width: 1399.98px) { 

}
@media (min-width: 1399.98px) { 

}