.header-wrraper{
    position: relative;
}

.main-header-bg{
    width: 100vw;
    background-size: cover;
    margin-bottom: 50px;
    background-repeat: no-repeat;
}


.mordern-approach{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: "heading heading right-img"
                          "left-img center-text right-img"
                          "left-img bottom-img bottom-img";
    gap: 20px;
}
    .heading{
        grid-area: heading;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .heading img{
        width: 700px;
    }
    .left-img{
        grid-area: left-img;
    }
    .left-img img{
        width: 100%;

    }
    .right-img{
        grid-area: right-img;
    }
    .right-img img{
        width: 100%;
    }
    .center-text{
        grid-area: center-text;
    }

    .bottom-img {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: bottom-img;
    }
    .bottom-img img{
        width: 100%;
    }   


.center-text p{
    font-size: 14px !important;
    color: #96918C;
}
.web-carosual-section{
    width: 100vw;
    margin: 0px;
    padding: 0px;
    // height: 350px;

}
.web-carosual-section .img img {
    width: 100%;
    height: 100%;
    // object-fit: cover;
    


}
.carosual-card{
    padding: 0px;
    margin: 0px;
    border: none;
    // height: 300px;
    // overflow: hidden;
}
.collection-section .para{
    display: flex;
    justify-content:center;
    // align-items: center;
    font-size: 14px;

}
.collection-cards .collection-card .img img{
    width: 100%;
    height:100%;
    // image-rendering: crisp-edges;
}
.collection-cards .collection-card .img{
    margin-bottom: 10px;
}
.collection-cards .collection-card .image-text span{
    font-size: 12px;
    font-weight: 600;
}
.collection-cards .collection-card .image-text .date{
    font-size: 10px;
    color: #96918C;
}
.collection-section .blog-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-button .blog-btn{
    padding: 20px 90px;
    background-color: black;
    color: white;
    font-size: 10px;
    margin-top: 40px;
}
.col-p-2{
    padding: 2px
}
.award-section {
    text-align: center;
}
.award-section img{
        width: 50%;
}

.contact-us-container{
    padding: 20px;
    background: white;
}
.contact-us-btn{
    border-radius: 30px;
}
.contact-us-btn svg{
    width: 25px;
}
.contact-us-btn .whatsapp-btn{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #25D366;
    color: white;
    border-radius: 20px;
    padding: 10px;
    width: 300px;
}

.contact-details *:not(:first-child){
    font-size: 12px;
    color: black;
}
p-dialog::ng-deep .p-dialog-header{
    padding: 20px;
}
p-dialog::ng-deep .p-dialog-mask{
    top: -25px;
    left: -25px;
}
p-dialog::ng-deep .p-dialog{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
@media  screen and (max-width: 566.98px) {
    .col-p-2{
        padding: 8px
    }
    .mordern-approach{
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: .1fr 1fr 1fr .1fr;
        grid-template-areas:
         "heading heading"
        "left-img  right-img"
        "center-text center-text"
        "bottom-img bottom-img";
        gap: 10px;
    }
    .mordern-approach .heading img{
        width: 100%;
    }
    .mordern-approach .right-img{
        margin-top: 80px;
    }

      
}

@media (min-width: 576px) and (max-width: 767.98px) { 

}
@media (min-width: 768px) and (max-width: 991.98px) { 

}
@media (min-width: 1200px) and (max-width: 1399.98px) { 
 
}
@media (min-width: 1399.98px) { }


.help-button {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    animation: shake 0.8s infinite alternate; 
    border-radius: 20px;
  }
  

  @keyframes shake {
    from {
      transform: translateY(-5px); /* Move left */
    }
    to {
      transform: translateY(5px); /* Move right */
    }
  }