<div class="story-section" style="margin-top: 44px;">

    <div class="heading">
        <h1>Wedding Stories</h1>

    </div>


    <div class="story-container">
        <div class="container">
            <h2> Prateeksha & Shubham</h2>
            <div class="story-image">
                <img src="./../../../assets/allgallery/prateeksha/b2.jpg" alt="" srcset="">
            </div>
            <div class="story-text">
                <p>
                    Wedding Stories
                    Abhimanyu & Anagha
                    Abhimanyu & Anagha living in Canada, came to India to unite together & to celebrate their Big Day
                    with family & friends, both are very jolly & friendly in nature, we loved working with them.</p>
            </div>
            <div class="stroy-button">
                <button class="view-btn btn" [routerLink]="['/wedding-stories','prateeksha']" >View Photos</button>
            </div>
        </div>
    </div>

    <div class="story-container">
        <div class="container">
            <h2>
                Reeti + Vivek</h2>
            <div class="story-image">
                <img src="./../../../assets/images/wed-img-8.jpg" alt="" srcset="">
            </div>
            <div class="story-text">
                <p>

                    Destination Wedding
            </div>
            <div class="stroy-button">
                <button class="view-btn btn">View Photos</button>
            </div>
        </div>
    </div>

    <div class="story-container">
        <div class="container">
            <h2> Abhimanyu & Anagha</h2>
            <div class="story-image">
                <img src="./../../../assets/images/wed-img-12.jpg" alt="" srcset="">
            </div>
            <div class="story-text">
                <p>

                    Niyati & Karan
                    Very colorful Wedding, all rituals were enjoyed thoroughly, we too loved covering the events
            </div>
            <div class="stroy-button">
                <button class="view-btn btn">View Photos</button>
            </div>
        </div>
    </div>
    <div class="story-container">
        <div class="container">
            <h2>
                Reeti + Vivek</h2>
            <div class="story-image">
                <img src="./../../../assets/images/wed-img-2.jpg" alt="" srcset="">
            </div>
            <div class="story-text">
                <p>

                    Destination Wedding
            </div>
            <div class="stroy-button">
                <button class="view-btn btn">View Photos</button>
            </div>
        </div>
    </div>

</div>