
// @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Edu NSW ACT Foundation", cursive;
    // font-family: 'Oswald', sans-serif;
}
body{
    overflow-x: hidden;
}

:root{
    --web-primary-color:#ea1068;
    --secondory-color:#fff;
    --light-pink:#ea1068ad;
}